<context id="jcars" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  	
  	<context id="roadContext">
		<projection type="geography" id="roadGeography"></projection>
	</context>
	
	<context id="carContext">
		<projection type="geography" id="carGeography"></projection>
	</context>
</context>
