<context id="mainContext" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  	
  	<context id="CarContext">
		<projection type="geography" id="carGeography"></projection>
	</context>
	
	
  	<context id="RoadContext">
		<projection type="geography" id="RoadGeography"></projection>
	</context>
	

	
</context>
